.main-content{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 60vw;

    background-color: white;
}
.report-right{
    background-color: blue;
}
.report-left{
 
}

.divider{
    display: flex;
    justify-content: center;
}
.courses{
    height: 80%;
}

.user{
 
}