 <div class="profile-container">
    <div class="profile-card">
        <div class="profile-header">
            
            <div class="profile-avatar">
                <svg class="avatar-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M12 2a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm0 15c-3.3 0-6.3 1.3-8.5 3.4C2 22 4.9 23 8 23h8c3.1 0 6-1 7.5-2.6-2.2-2.1-5.2-3.4-8.5-3.4z"></path>
                </svg>
            </div>

            <div class="profile-info">
                <h1 class="profile-name">{{egresso.nome}}</h1>
                <div class="profile-education">
                    <div *ngFor="let curso of cursos">{{curso.nome}} - {{curso.nivel}}</div>
                    
                </div>
                <div class="profile-actions">
                    <button class="cv-button">Currículo</button>

                    <a href="#" class="social-link" aria-label="LinkedIn">
                        <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                            <rect x="2" y="9" width="4" height="12"></rect>
                            <circle cx="4" cy="4" r="2"></circle>
                        </svg>
                    </a>
                    <a href="#" class="social-link" aria-label="GitHub">
                        <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <p class="profile-bio">
            {{egresso.resumo}}
        </p>

        <h2 class="section-title">Histórico de Cargos</h2>

        <div class="job-card" *ngFor="let cargo of cargos">
            <h3 class="job-title">{{cargo.descricao}}</h3>
            <div class="job-company">{{cargo.local}}</div>
            <div class="job-period">{{cargo.ano_inicio}} - {{cargo.ano_fim}}</div>
            <!-- <p class="job-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim libero ipsum, sit amet placerat orci suscipit sed.
            </p> -->
        </div>

     
    </div>
</div>
