<section class="testimonials-section">
    <h1>Depoimentos</h1>
  
    <div class="container-testimonial">

      <div class="testimonial-item" *ngFor="let d of testimonials, let i = index">
        <div class="user-icon"></div>
        <div class="testimonial-content">
          <h2>{{ d.egresso?.nome }}</h2>
          <!-- <p class="short-text" *ngIf="!d.isExpanded">
            {{ d.shortText }}
          </p>
          <p class="full-text" *ngIf="d.isExpanded">
            {{ d.fullText }}
          </p> -->

          <p class="full-text" [ngClass]="{'shortText': !expandedTestimonials[i]}">
            {{ d.texto }}
          </p>
  
          <a 
            href="#" 
            class="toggle-text" 
            *ngIf="d.texto.length > 85" 
            (click)="toggleText(i, $event)">
            {{ expandedTestimonials[i] ? 'Ver menos' : 'Ver mais' }}
          </a>

        </div>
      </div>
      
    </div>

  </section>
