<h1 class="page-title">Enviar Oportunidade</h1>
<div class="main-content">
    <form (ngSubmit)="onSubmit()" >
      <mat-form-field class="example-full-width">
          <mat-label>Título</mat-label>
          <input
            matInput
            placeholder="Digite o Título"
            [formControl]=" tituloFormControl"
            required>
          <mat-error *ngIf="tituloFormControl.hasError('required')">
            O título é <strong>obrigatório</strong>.
          </mat-error>
        </mat-form-field>
      <mat-form-field class="inputDepoimento">
          <mat-label>Descrição</mat-label>
          <textarea matInput pla [formControl]="descricaoFormControl"
          required>></textarea>
          <mat-error *ngIf="descricaoFormControl.hasError('required')">
              A Descrição é <strong>obrigatório</strong>.
          </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="submit-button">
          Enviar
      </button>
    </form>

</div>
