<div class="container">
  <div class="left-container">
     <!--  <div class="top-div">
          Conteúdo da div superior 

      </div> -->
      <div class="main-left-div">
          <!-- Conteúdo da div esquerda (80% de altura) -->
           <app-sidebar (optionSelected)="onOptionSelected($event)"></app-sidebar>
      </div>
  </div>
  
  <div class="painel-div">
    <app-header (homeBtnClicked)="onOptionSelected($event)" ></app-header>
      <!-- Conteúdo da div direita -->
    <ng-container *ngComponentOutlet="currentComponent"></ng-container>


  </div>
</div>


